* {
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-family: SalamonBold;
}

h1 {
    font-size: 2.8125rem;
    color: white;  
}

p {
    font-size: 1em;
    color: white;  
}

*:visited {
    color: inherit;
    text-decoration: none;
}

/* header */
p {
    font-family: SalamonLight;
}

nav {
    position: sticky;
}

nav a img {
    width: 1.5rem;
    padding: 0.75rem;
}

nav > img {
    width: 13rem;
    padding: 0;
}

header section:nth-of-type(2) {
    display: flex;
    padding: 1em 3.5em;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    font-weight: 320;
    color: black;
    font-size: 10.5pt;
    align-items: center;
    display: flex;
}

nav > ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
    order: 3;
}

nav input[type="text"] {
    order: 2;
    margin: 0;
    justify-content: center;
}

nav li {
    display: flex;
}

nav ul li:nth-of-type(1) a img {
    padding: 0.7rem;
}

header nav:nth-of-type(2) ul li:hover {
    background-color: #e5e5e5;
    border-radius: 35px;
}

header nav:nth-of-type(2) ul li a:nth-of-type(1) a {
    padding-right: 1rem;
    background-color: red;
}
/* search bar */
header input {
    width: 604.5px;
    height: 3rem;
    border-radius: 30px;
    border-width: 1px;
    border-color: #e5e5e5;
    border-style: solid;
    background-color: #F5F5F5;
    background-image: url("../images/magnify-icon.svg");
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 1em center;
    padding-left: 3.5em;
}


/* black bar up top */
header > section:nth-of-type(1) {
    display: flex;
    background-color: #000000;
    padding: 0 4em;
}

header > section:nth-of-type(1) > a {
    font-size: 10.5pt;
    color: white;
    font-weight: 320;
    display: flex;
    height: 24px;
    align-items: center;
    margin: 0;
    padding: 8px 0;
}

header > section:nth-of-type(1) section:first-of-type{
    display: flex;
    align-items: center;
}

header > section:nth-of-type(1) section:nth-of-type(1) a {
    color: white;
    text-decoration: underline;
    text-underline-offset: 4px;
}

header section:first-child {
    color:white;
    color: white;
    font-weight: 320;
    font-size: 10.5pt;
    justify-content: space-between;
}

header > section:nth-of-type(1) section:nth-of-type(2) {
    justify-content: flex-end;
    padding:0;
    align-items: center;
}

/* Onder header */
header section:nth-of-type(3) {
    display: flex;
    padding: 0em 3.5em 1em 3.5em;
    list-style-type: none;
}

header section:nth-of-type(3) ul {
    list-style-type: none;
    display: flex;
}

header section:nth-of-type(3) ul li {
    margin-right: 40px;
    font-size: 1em;
    font-weight: 525;
    padding-bottom: 0.25em;
    align-items: center;
}

header section:nth-of-type(3) ul li:nth-of-type(6) a {
    color: #AF0C1E;
}

a {
    font-family: SalamonLight;
}

/* main section */
main section:first-of-type  {
    background-image:linear-gradient(to left, rgba(212, 212, 212, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.281) 100%), url("../images/FW25_GRAVEL_AEROBLAZE3GRVLGTX_ECOM_HP_HeroBanner_Desktop_01.webp");
    background-size: cover;
    background-position: center;
    padding:min(15vw, 11rem) 3.5em;
}

main section:first-of-type ul {
    display:flex;
    flex-direction: column;
    text-decoration: none;
}

main section:first-of-type ul {
    display: flex;
    flex-direction: row ;
    list-style-type: none;
    display: flex;
}

main section:first-of-type ul li {
    padding: 1em;
    border-radius: 30px;
    background-color: white;
    margin-right: 1em;
}

main section:first-of-type p {
    padding: 1.5em 0;
}

a {
    text-decoration: none;
    color: color;
}

main section:first-of-type h1 {
    color: white;  
}
/* responsive */
.hidden {
    display:none
}


@media screen and (max-width: 1280px) {
    nav > ul {
        order: 2;
    }

    nav input {
        order: 3;  
        width:100%;
        padding-bottom: 0.5em;
    }

    input::placeholder {
        align-items: center;
    }

    nav > img {
        width: 10rem;
    }

    header section:nth-of-type(3) {
        display:none;
    } 

    header nav ul li:nth-of-type(2){
        display:none;
    }

    header nav ul li:nth-of-type(4){
        display:flex;
    }

    header > section:nth-of-type(1){
        justify-content: center;
    }

    header section:nth-of-type(2){
        padding: 0.5em 2.5em;
    }

    input {
        padding-bottom: 0.5em;
    }

    header section:first-child a:first-child, 
    header section:first-of-type section:nth-of-type(2) {
        display: none;
    }

    nav {
        flex-wrap: wrap;
    }

    header section:first-of-type section:nth-of-type(1)  {
        padding:0.625em 0;
        height: 20px;
        justify-content: center;
    }   
}

@media screen and (max-width: 769px) {
    nav ul li:first-of-type {
        display: none;
    }
}

@media screen and (max-width: 639px) {
    header section:nth-of-type(2) {
        padding: 0.5em 1.25em;
    }
}
