* {
    padding: 0;
    margin: 0;
}

a, a:visited{
     color: black;
     text-decoration: none;
}
p {
    font-family: SalomonLight;
}

h1 {
    font-family: SalomonBold;
}

.hidden {
    display: none;
}

header nav:nth-of-type(1) a, header nav:nth-of-type(1) p {
    color:white;
    font-family: SalomonLight;
    font-size:14px;
    text-decoration: none;
    height:20px;
}

header nav:nth-of-type(1) ul {
    display: flex;
    background-color: rgb(0, 0, 0);
    list-style-type: none;
    padding: 0em 3.5em;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    height:40px;

}

header nav:nth-of-type(1) ul li:nth-of-type(2) {
    justify-self: center;
    
}

header nav:nth-of-type(1) ul li:nth-of-type(3) {
    justify-self: end;
}


header nav:nth-of-type(2)  ul > li:nth-of-type(1) a img:nth-of-type(1) {
    width: 10em;
    padding:0;
    justify-content: flex-start;
}

header nav:nth-of-type(2) ul > li:first-child {
    margin-right: auto;
}

header nav:nth-of-type(2) ul li img {
    width: 1.5em;
}

header nav:nth-of-type(2) ul {
    display: flex;
    list-style: none;
    align-items: center;
    
}

header nav:nth-of-type(2) ul img{
    padding: 0.75em;
}

header nav:nth-of-type(2) {
    padding: 0.5em 1.25em;
}

/* main */
section:first-of-type {
    background-image:linear-gradient(to bottom, rgba(212, 212, 212, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.281) 100%), url("../images/FW25_GRAVEL_AEROBLAZE3GRVLGTX_ECOM_HP_HeroBanner_Mobile_01.webp");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

section:first-of-type ul {
    display: flex;
    flex-direction: row ;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

section:first-of-type ul li {
    margin: 3px;
}


section:first-of-type h1, section p, section ul {
    color: white;
    padding: 0 1.25rem;
}

section:first-of-type h1 {
    font-size: 21pt;
    padding-bottom: 0.5rem;
}

section:first-of-type p {
    font-size: 10.5pt;
    padding-bottom: 1rem;
}

section:first-of-type ul li {
    padding: 1em;
    font-size: 12pt;
    border-radius: 30px;
    background-color: white;
    margin-right: 1em;
    font-family: SalomonLight;
    font-weight:600;
    color:black; 
}

header input {
    width: 100%;
    height: 3rem;
    border-radius: 30px;
    border-width: 1px;
    border-color: #e5e5e5;
    border-style: solid;
    background-color: #F5F5F5;
    background-image: url("../images/magnify-icon.svg");
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 1em center;
    padding-left: 3.5em;
    justify-self: center;
    font-family: SalomonLight;
}

@media (width >= 1280px) {

    header nav:nth-of-type(1) ul {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color: rgb(0, 0, 0);
    list-style-type: none;
    padding: 0.5em 3.5em;
    justify-content: space-between;
    height:20px;
    align-items: center;
}

header nav:nth-of-type(1) ul li:nth-of-type(1) {
    justify-self: start;
    display: block;
    
}

header nav:nth-of-type(1) ul li:nth-of-type(2) {
    justify-self: center;
}

header nav:nth-of-type(1) ul li:nth-of-type(3) {
    justify-self: end;
    display: block;
}

}


